@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap');
/* font-family: 'Amatic SC', cursive;
font-family: 'Indie Flower', cursive; */


body {
   background-color: lavenderblush;
}

.App {
    margin: 0 auto;
    max-width: 1200px;
    background-color: floralwhite;
    
}

header {
    height: 150px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    color: deeppink;
    font-size: 100px;
    border-bottom: 3px solid lawngreen;
    font-family: 'Indie Flower', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.img {
    margin: 0 auto;
    height: 200px;
    width: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    grid-column: 1/3;
}

button {
    margin: 10px;
    font-size: 18px;
    border-color: lawngreen;
    border-radius: 10px;
    background-color: white;
    color: deeppink;
    font-family: 'Indie Flower', cursive;
    padding: 0px 8px;
    width: 150px;
}

.add-sub {
    grid-column: 1/3;
}

.cat-create {
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
    font-size: 24px;
    width: 200px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 800px;
}

h3 {
    font-size: 48px;
    font-family: 'Indie Flower', cursive;
    grid-column: 1/3;
    margin-bottom: 10px;
}

h5 {
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
    text-decoration: underline;
    margin-bottom: 5px;
}